/* ------------------1. ПРИ КЛІКУ ЗМІНЮЄТЬСЯ КОЛІР КНОПКИ---------------------------- */
/* .tags {
    outline: 1px solid tomato;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 8px;
    background-color: aquamarine;
    list-style: none;
    user-select: none;

}

.tags__item {
    margin: 4px;
}

.tags__btn {
    border: 1px solid #212121;
    border-radius: 4px;
    display: inline-block;

}


.tags__btn-active {
    background-color: blue;
} */